/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a, a:hover, a:active, a:focus {
    text-decoration:none;
    color:#000;
}

a:hover{
    color:#808080;
}

img {
    max-width:100%;
    height:auto
}

table{
    width: 100%;
    border-color:#eaeaea;
}
table th, table td {
    padding: 5px 10px;
    font-size: 0.9em;
}

label{
    display:block;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/* Helpers */
.aligncenter {
    text-align:center;
}

.aligncentertable {
    align:center;
    font:50px;
}
.mb35 {
    margin-bottom:35px;
}

.mb15 {
    margin-bottom: 15px;
}

.ddlOption {
    margin-bottom: 10px;
    padding: 3px;
}

input {
    margin-bottom: 10px;
}

.prodcategs{
    margin-left:auto;
    margin-right:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}

.prodimage{
    text-align:center;
    margin-bottom:35px;
    justify-content:center;
}

.prodimage img {
    max-width:75%;
    margin-bottom:15px;
}

.prodimage {
    font-size:16px;
    font-weight:600;
}

.switchview{
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
}


#header {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 3px 3px 3px #f9f9f9;
}

#header a:hover, #header a:focus {
    color:#000;
}

.navbar-nav > li > a {
    line-height:41px;
}

h2.subline, h3.subline {
    position:relative;
}
h2.subline:after, h3.subline:after {
    content: " ";
    border-bottom: 2px solid #d7130b;
    position: absolute;
    bottom: -3px;
    width: 20px;
    left: 50%;
    margin-left: -10px;
}

#MainContent_LoginViewClients_GridView1 img {
    max-height:100px;
    width:auto;
}

.DeleteButton {
    color: #ff0d0d;
}

.EditButton {
    color: #5c87ec;
}
address{
    font-style:italic;
    color:#808080
}

.addProducts input {
    width: 90%;
    max-width: 400px;
}

.mainbg {
    width: 99vw;
    position: relative;
    margin-left: -50vw;
    margin-top: -100px;
    left: 50%;
}
.mainbgText {
    position: absolute;
    color: #a7a7a7;
    margin-top: auto;
    margin-bottom: auto;
    top: 10%;
    left: 11%;
    font-size: 3em;
}

.mainbgText2 {
    position: absolute;
    color: rgb(185, 42, 42);
    margin-top: auto;
    margin-bottom: auto;
    top: 45%;
    left: 69%;
    font-size: 3em;
    font-weight: 500;
}

.RequiredFieldValidator {
    background-color: #ff000b;
    font-size: 12px;
    color: white;
    padding: 2px;
}

.smallCell {
    width: 65px !important;
    text-align:center; 
}

.mediumCell {
    width: 75px !important;
}

.largeCell {
    width: 130px !important;
}

.extralargeCell {
    width: 180px !important;
}


.fixedTable {
    table-layout: fixed;
}

.productTable th {
    color: White;
    background-color: #5D7B9D;
    font-weight: bold;
    font-size: 0.8em;
}

